<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free restaurant review for you">
  <link rel="manifest" href="./app.webmanifest">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="icon" href="./cursor.png">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Mi Amor</title>
</head>
<style>
  /* For width smaller than 400px: */
.banner {
  background-image: url(./images/hero-image_3-small.jpg);
}

/* For width 400px and larger: */
@media only screen and (min-width: 400px) {
  .banner {
    background-image: url(./images/hero-image_3-large.jpg);
  }
}
</style>
<body style="  cursor: url('./cursor.png'),auto;">
  <a href="#mainContent" class="skip-link" tabindex="1">go to content</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">🍔</button>
    </div>
    <div class="app-bar__brand">
      <h1>Mi Amor Foodies</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/home">home</a></li>
        <li><a href="#/fav">fav</a></li>
        <li><a href="https://www.instagram.com/surabaya_foodies/">about us</a></li>
      </ul>
    </nav>
  </header>
  <section class="banner" id="banner">
    <div class="content">
      <h2>Mi Am🍽️r Foodies</h2>
      <p>you deserve food better in here.</p>
    </div>
   </section>
  <main tabindex="0" id="mainContent"></main>
  <footer>
    <p>&copy Mi Amor Foodies 2022 <a href="#/home" target="_blank" rel="noreferrer">🍽️</a></p>
  </footer>
</body>
</html>